<ion-view view-title="Change Password" align-title="left">
    <ion-content>
        <form action="" name="changePasswordForm">
            <ion-list>
                <ion-item>
                    <label for="password" >Old Password</label>
                    <input name="password" ng-model="user.oldPassword" style="width:100%; background:#efefef; border:1px solid #ddd; " type="password" />
                </ion-item>
                <ion-item>
                    <label for="newPassword" >New Password</label>
                    <input name="newPassword" ng-model="user.newPassword" style="width:100%; background:#efefef; border:1px solid #ddd; " type="password" />
                </ion-item>
                <ion-item>
                    <label for="reNewPassword" >Re-Enter New Password</label>
                    <input name="reNewPassword" ng-model="user.reNewPassword" style="width:100%; background:#efefef; border:1px solid #ddd; " type="password" />
                </ion-item>
            </ion-list>
        </form>
        <div class="padding">
            <button ng-click="change_password()" class="button button-full button-assertive ink">Update Password</button>
        </div>
    </ion-content>
</ion-view>